.actionsWrapper {
  display: grid;
  grid-column: 16 / 22;
  grid-row: 1/14;
  border: 0.23vw solid rgb(255, 255, 255);
  border-radius: 1vw;
  height: 38vw;
  width: 25vw;
  padding: 0.5vw;
}

.actionsWrapper li .gameIdLabel {
  display: grid;
  grid-column: 1/7;
  text-align: right;
}

.ammoWrapper {
  display: none;
  grid-column: 16 / 19;
  grid-row: 11/12;
  width: 4vw;
  border: 0.23vw solid white;
  border-radius: 1vw;
  font-size: 0.8vw;
}
.spellCastButtonWrapper {
  display: grid;
  font-size: 1vw;
  grid-column: 14 / 17;
  grid-row: 4/6;
  border: 0.23vw solid white;
  border-radius: 1vw;
  height: 4vw;
  width: 12vw;
  padding: 0.3vw;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}
.spellCastButtonWrapper button {
  display: grid;
  font-size: 1vw;
  width: 5vw;
}
.spellCastButtonWrapper button:disabled {
  background-color: black;
  color: white;
  opacity: 0.6;
}
.spellCastButtonWrapper button:disabled:hover {
  background-color: black;
  color: white;
  opacity: 0.6;
}
.advancedSpellInputWrapper {
  font-size: 1vw;
  display: none;
  border: 0.23vw solid white;
  border-radius: 1vw;
  grid-column: 1/ 22;
  grid-row: 5/12;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}
.advancedSpellInputWrapper .subSkillSpellAndDescriptWrapper {
  display: grid;
}
.advancedSpellInputWrapper .subSkillSpellAndDescriptWrapper li {
  grid-template-columns: repeat(6, 1fr);
  display: grid;
}
.advancedSpellInputWrapper .subSkillSpellAndDescriptWrapper li div {
  display: grid;
  border: 0.23vw solid white;
  border-radius: 1vw;
  padding: 0.2vw;
  width: 3vw;
}
.advancedSpellInputWrapper .subSkillSpellAndDescriptWrapper li span {
  display: grid;
  grid-auto-flow: column;
  grid-column: 3/4;
  justify-content: left;
}
.advancedSpellInputWrapper .subSkillSpellAndDescriptWrapper li .spellDescriptionSpan {
  display: grid;
  grid-column: 4/5;
  justify-content: left;
  width: 3vw;
}
.advancedSpellInputWrapper .subSkillSpellAndDescriptWrapper li span input {
  display: grid;
}
.advancedSpellInputWrapper .subSkillSpellAndDescriptWrapper li .liturgyWrapper {
  display: none;
  padding: 0.2vw;
  border: 0.23vw solid white;
  border-radius: 1vw;
  width: 10vw;
}
.advancedSpellInputWrapper .liturgyPowerInfo {
  text-align: center;
  display: none;
}
.advancedSpellInputWrapper .liturgyCheckBox {
  display: none;
  width: 1vw;
  height: 1vw;
  justify-self: center;
}
.advancedSpellInputWrapper .allAspectsWrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.advancedSpellInputWrapper .pillarNamesWrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.advancedSpellInputWrapper .pillarNamesWrapper span {
  display: grid;
  align-items: center;
}
.advancedSpellInputWrapper .pillarNamesWrapper .mechanismAspLabel {
  width: 10vw;
}
.advancedSpellInputWrapper li {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-align: right;
}
.spellDescriptionWindow {
  display: none;
  font-size: 1vw;
  border: 0.23vw solid white;
  border-radius: 1vw;
  grid-column: 11/ 20;
  grid-row: 5/10;
  background-color: black;
  padding: 0.5vw;
}
.currentManaInAdvancedSpellWrapper {
  display: none;
  font-size: 1vw;
  border: 0.23vw solid white;
  height: 1.2vw;
  border-radius: 1vw;
  grid-column: 2/ 4;
  grid-row: 10/11;
  background-color: black;
  padding: 0.5vw;
}
.advancedSpellInputWrapper li input {
  display: none;
}
.advancedSpellInputWrapper li select {
  display: grid;
  text-align: left;
  font-size: 0.8vw;
  height: 1.3vw;
}
.powerAspectPillar .distanceAspectPillar .areaAspectPillar .durationAspectPillar .mechanismAspectPillar .advancedSpellInputWrapper li div {
  display: grid;
}
.mechanismAspectPillar select {
  width: 25vw;
}
.advancedSpellInputWrapper button {
  display: grid;
  border: 0.23vw solid white;
  font-size: 1vw;
}
.calculatedSpellStatsSpan {
  display: grid;
  grid-auto-flow: column;
  width: 22vw;
  align-self: center;
  justify-self: center;
}
.ammoWrapper input {
  display: grid;
  width: 3vw;
  height: 1vw;
  font-size: 0.8vw;
  text-align: center;
}
.ammoWrapper button {
  display: grid;
  width: 4vw;
  height: 1vw;
  font-size: 0.8vw;
}
.actionsWrapper li {
  font-size: 0.8vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
}
.actionsWrapper button {
  font-size: 0.8vw;
  display: grid;
  grid-column: 6/7;
}
.actionsWrapper span {
  font-size: 0.8vw;
  display: grid;
  margin-left: 1vw;
  grid-column: 1/6;
  align-items: center;
}
.actionsWrapper ul {
  font-size: 1vw;
  margin-left: 1vw;
}
.actionsWrapper ul li {
  margin-left: 1.5vw;
}
.actionsWrapper .otherManeuversLabel {
  font-size: 1vw;
  display: grid;
}
.actionsWrapper input {
  width: 0.7vw;
  height: 0.7vw;
  grid-column: 6/7;
  align-self: center;
}
/* .spellTypeQuestionWindow {
  display: none;
  grid-column: 8/12;
  grid-row: 5/7;
  grid-template-rows: repeat(2, 1fr);
  border: 0.23vw solid white;
  border-radius: 1vw;
  grid-auto-flow: column;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 30vw 20vw;
}
.spellTypeQuestionWindowText {
  display: grid;
  grid-column: span 2;
  text-align: center;
}
.spellTypeQuestionWindowYesButton,
.spellTypeQuestionWindowNoButton {
  display: grid;
  font-size: 2.5vw;
} */
.gameIdWrapper {
  display: none;
  padding: 0.5vw;
  background-color: black;
  border: 0.23vw solid rgb(255, 255, 255);
  border-radius: 1vw;
  grid-column: 18/23;
  grid-row: 1/2;
  font-size: 0.8vw;
  height: 2vw;
}
.gameIdWrapper input {
  display: grid;
  width: 7vw;
  height: 0.7vw;
  font-size: 0.8vw;
}
.gameIdWrapper button {
  display: grid;
  font-size: 0.8vw;
}
.gameIdWrapper span {
  display: grid;
  font-size: 0.8vw;
  grid-auto-flow: column;
}
.gameIdWrapperRevealButton {
  display: grid;
  grid-column: 20/22;
  grid-row: 1/2;
  width: 6vw;
  font-size: 0.8vw;
}
.recurringSpellActionButton {
  display: none;
  grid-column: 14/16;
  grid-row: 3/4;
  width: 6vw;
  font-size: 0.8vw;
}
.recurringSpellActionButton:disabled {
  background-color: black;
  color: white;
  opacity: 0.6;
}
.recurringSpellActionButton:disabled:hover {
  background-color: black;
  color: white;
  opacity: 0.6;
}
.guidedSpellWrapper {
  display: none;
  font-size: 1vw;
  border: 0.23vw solid white;
  border-radius: 1vw;
  grid-column: 14/ 17;
  grid-row: 3/9;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5vw;
}
.guidedSpellWrapper input {
  width: 3vw;
}
.guidedSpellRevealButton {
  display: none;
  grid-column: 14/16;
  grid-row: 5/7;
  width: 6vw;
  font-size: 0.8vw;
}
.guidedSpellButton {
  display: grid;
  font-size: 0.8vw;
}
.guidedSpellLabel {
  width: 5vw;
  text-align: right;
}
.guidedSpellName {
  text-decoration: underline;
}
.guidedSpellCheckboxLabel {
  display: grid;
  grid-auto-flow: column;
  font-size: 0.6vw;
  text-align: right;
  align-items: center;
}
.guidedSpellCheckboxLabel .guidedSpellCheckbox {
  display: grid;
  width: 1vw;
}
