.armorDetailsWrapper {
    display: grid;
    grid-column: 12 / 16;
    grid-row: 9 / 13;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0vw;
    margin-bottom: 1vw;
    padding: 0vw;
    width: 18vw;
}
.currentArmorDetails {
    display: grid;
    grid-column: span 3;
    border: 0.2vw solid #680604;
    -webkit-box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
    box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
    border-radius: 1vw;
  }
  
  .currentArmorDetails div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  padding: 0vw;
  margin: 0vw;
}
  .currentArmorDetails label {
    font-size: 1vw;
    justify-content: center;
    margin-right: 1vw;
    text-decoration: underline;
    text-decoration-color: black;
    grid-row: span 2;
  }

  .currentArmorDetails p {
    font-size: 1vw;
  margin: 0vw;
  grid-row: span 2;
  }

  .topPart{
    grid-auto-flow: column;
    grid-column: span 2;
    text-align: center;
}

.bottomPart {
    grid-auto-flow: column;
    text-align: right;
}

  .currentArmorImg {
      display: grid;
      grid-column: span 2;
      padding: 0vw;
      margin: 0vw;
      grid-template-columns: repeat(16,1fr);
      grid-template-rows:repeat(22,1fr) ;
      border: 0.2vw solid #680604;
      -webkit-box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
      box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
      border-radius: 1vw;
      background-image: url('../public/armorParts/assassinArmorPartsDefault.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 4vw 11vw;
      width: 6vw;
      height: 12vw;
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
      justify-self: center;
  }

.currentLowerTorsoImg, .currentUpperTorsoImg, .currentLeggingsImg, .currentHelmetImg, .currentArmsImg{
  display: grid;
  grid-row: 1/23;
  grid-column: 1/17;
  width: 4vw;
  height: 11vw;
  opacity: 0;
  align-self: center;
  justify-self: center;
}

/* .currentHelmetImg {
  height: 1.8vw;
  width: 1.7vw;
  grid-row: 3/5;
  grid-column: 1/17;
  margin-top: 0.2vw;
  opacity: 1;
}

.currentUpperTorsoImg {
  height: 1.3vw;
  width: 3.1vw;
  grid-row: 4/7;
  grid-column: 1/17;
  opacity: 1;
}
.currentLowerTorsoImg {
  height: 2vw;
  width: 1.8vw;
  grid-row: 7/8;
  grid-column: 1/17;
  opacity: 1;
}
.currentArmsImg {
  height: 3.3vw;
  width: 3.5vw;
  grid-row: 4/7;
  grid-column: 1/17;
  opacity: 1;
}
.currentLeggingsImg {
  height: 6.2vw;
  width: 3.4vw;
  grid-row: 12/23;
  grid-column: 1/17;
  opacity: 1;
} */

.dmgReduction{
  display: grid;
  grid-row: 1/3;
  grid-column: 1/3;
  font-size: 1vw;
}

.currentHelmetDmgReduction, .currentUpperTorsoDmgReduction, .currentLowerTorsoDmgReduction,
.currentArmsDmgReduction, .currentLeggingsDmgReduction {
  display: grid;
  font-size: 1vw;
  color: black;
  text-shadow:none;
  background-image: url('../public/straightLineBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vw 0.1vw;
  background-position-x: 0.7vw;
  grid-column: 1/9;
}

.currentHelmetDmgReduction {
  grid-row: 3/5;
}
.currentUpperTorsoDmgReduction {
  grid-row: 5/7;
}
.currentLowerTorsoDmgReduction {
  grid-row: 7/10;
}
.currentArmsDmgReduction {
  grid-row: 9/12;
  background-size: 0.7vw 0.1vw;
}
.currentLeggingsDmgReduction {
  grid-row: 14/16;
}

#armorList {
  display: grid;
}

.armorListItem {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-size: 0.7vw;
  list-style-type: none;
  text-align: left;
}

.currentArmorName {
  display: grid;
  grid-column: 2 / 11;
  text-align: left;
  align-content: center;
}

.currentArmorCheckBox {
  display: grid;
  grid-column: 1 / 2;
}

.underConstruction {
    display: none;
    grid-column: 12 / 16;
    grid-row: 9 / 13;
    align-self: center;
    justify-content: center;
    text-align: center;
    transform: rotate(-45deg);
    font-size: 2.7vw;
color: red;
  font-weight: bold;
  }