body {
    display: grid;
    background-color: #000000;
    height: 100vw;
    width: 70vw;
    /* background-position: left; */
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'MedievalSharp', cursive;
    color: black;
    -webkit-text-stroke: #f35900 0.01vw;
    font-size: 1.4vw;
    text-shadow: 0.3vw 0.3vw 0.4vw #682600;
    padding-top: 0.5vw;
    justify-content: center;
    align-items: center;

}

.main {
  display: grid;
  background-color: #000000;
  height: 100vw;
  width: 70vw;
  background-image: url('../public/parchmentPaper.jpg');
  /* background-position: left; */
  background-repeat: no-repeat;
  background-size: 70vw 100vw;
  font-family: 'MedievalSharp', cursive;
  color: black;
  -webkit-text-stroke: #f35900 0.1px;
  font-size: 1.4vw;
  text-shadow: 0.3vw 0.3vw 0.4vw #682600;
  padding-top: 1vw;
  padding-left: 2vw;
  justify-content: center;
  align-items: center;
}

/* #__next{
    height: 100vw;
    width: 70vw;
} */

#atkRollWrapper {
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(10,1fr);
  height: 45vw;
  width: 70vw;
}

#dividingLine {
  display: grid;
  height: 3vw;
  width: 70vw;
}

#skillCheckWrapper {
  display: grid;
  grid-template-columns: repeat(16,1fr);
  grid-template-rows: repeat(10,1fr);
  height: 45vw;
  width: 70vw;
}

.skillCheckLabel {
  font-size: 1.1vw;
  align-self: center;
  justify-content: center;
  text-align: center;
  grid-row: 1 / 2;
  font-family: 'MedievalSharp', cursive;
  -webkit-text-stroke: #f35900 0.01vw;
}

.skillCheckSelect{
  margin: 0vw 1vw;
  height: 3vw;
  grid-row: 2 / 3;
  font-family: 'MedievalSharp', cursive;
  -webkit-text-stroke: #f35900 0.01vw;
}

#skillsLabel{
display: grid;
grid-column: 1/9;
}
#skills {
  display: grid;
  grid-column: 1/9;
}
#attributesLabel {
  display: grid;
grid-column: 9/12;
}
#attributes {
  display: grid;
grid-column: 9/12;
}
#rollModifierLabel {
  display: grid;
  grid-column: 12/14;
}
#rollModifier {
  display: grid;
  grid-column: 12/14;
  text-align: center;
}
#succFailModifierLabel {
  display: grid;
  grid-column: 14/16;
}
#succFailModifier {
  display: grid;
  grid-column: 14/16;
  text-align: center;
}
#skillCheckBaseLabel {
  display: grid;
  grid-row: 3/5;
  grid-column: 1/3;
  align-items: center;
  text-align: center;
  font-size: 2vw;
}
#skillCheckBase {
  display: grid;
  grid-row: 3/5;
  grid-column: 3/5;
  align-items: flex-end;
  text-align: center;
  font-size: 6vw;
}
#skillCheckRollButton{
  display: grid;
  grid-row: 3/5;
  grid-column: 7 / 10;
  align-self: flex-end;
  margin: 0vw;
}
#skillCheckResultLabel{
  display: grid;
  grid-row: 6/7;
  grid-column: 7 / 10;
  align-self: flex-end;
  text-align: center;
  margin: 0vw;
}
#skillCheckResult {
  display: grid;
  grid-row: 7/10;
  grid-column: 7 / 10;
  align-self: center;
  text-align: center;
  margin: 0vw;
  font-size: 10vw;
}
#skillCheckStressCheckboxLabel {
  display: grid;
  grid-row: 3/4;
  grid-column: 10 / 14;
  align-self: center;
  text-align: center;
  margin: 0vw;
  font-size: 2vw;
}
#skillCheckStressCheckbox {
  display: grid;
  grid-row: 4/5;
  grid-column: 12 / 13;
  align-self: center;
  justify-content: center;
  margin: 0vw;
}
a:link {
    text-decoration: none;
    color: #000000;
    text-shadow: 0.3vw 0.3vw 0.4vw #682600;
    -webkit-text-stroke: #f35900 0.01vw;
}

a:visited {
    text-decoration: none;
    color: #000000;
    text-shadow: 0.3vw 0.3vw 0.4vw #682600;
    -webkit-text-stroke: #f35900 0.01vw;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #000000;
    text-shadow: 0.3vw 0.3vw 0.4vw #682600;
    -webkit-text-stroke: #f35900 0.01vw;
}

img {
    height: 14vw;
    width: 10vw;
}

input,
select {
    background-image: url('../public/parchmentPaper.jpg');
    background-size: 40vw 5vw;
}

button {
    display: grid;
    font-family: 'MedievalSharp', cursive;
    -webkit-text-stroke: #f35900 0.01vw;
    background-image: url('../public/parchmentPaper.jpg');
    background-size: 5.2vw 5vw;
    border: 0.05vw solid #680604;
    -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
    box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
    border-radius: 0.4vw;
    align-self: center;
    justify-self: center;
}

.fileInputWrapper {
    position: relative;
    display: grid;
    grid-column: 8 / 12;
    grid-row: 3 / 5;
    margin-left: 0.5vw;
  }
  
  .customFileButton {
    display: grid;
margin-left: 1vw;
    font-family: 'MedievalSharp', cursive;
    font-size: 2vw;
    -webkit-text-stroke: #f35900 0.01vw;
    cursor: pointer;
    text-shadow: 0.3vw 0.3vw 0.4vw #000000;
  border: 0.23vw solid #680604;
  -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  border-radius: 1vw;
  background-image: url('../public/parchmentPaper.jpg');
  background-size: 18vw 8vw;
  }

  #inputFile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

#charInfoWrapper {
  display: grid;
  margin-left: 1.5vw;
  grid-column: 8 / 12;
  grid-row: 1 / 3;
  grid-template-rows: repeat(3,1fr);
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  text-shadow: 0.3vw 0.3vw 0.4vw #000000;
  text-align: center;
}

#charName{
display: grid;
grid-row: 1 / 3;
margin-top: 2.5vw;
text-decoration: underline;
text-decoration-color: #000000;
}

#charClass{
    display: grid;
grid-row: 3 / 4;
}
  #rollResultWrapper{
    display: grid;
    grid-column: 12 / 16;
    grid-row: 9 / 14;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  #useLegendPointCheckBox{
    display: none;
    grid-column:4 / 6;
    grid-row: 3 / 5;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  #useLegendPointCheckBoxlabel{
    display: grid;
    grid-row: 1 / 3;
    grid-column: 4 / 6;
    font-size: 1.2vw;
    margin-left: 0.2vw;
  }

  #lightDiceResult, #darkDiceResult{
    display: grid;
    grid-row: 2 span;
    grid-column: 2 / 3;
    font-size: 1.1vw;
    margin: 0.3vw 0vw;
  }

  #lightDiceResultSelect, #darkDiceResultSelect{
    display: grid;
    margin-right: 1vw;
    padding: 0;
    margin: 0;
    grid-row: 2 span;
    grid-column: 3 / 4;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 3.5vw;
  font-size: 1.2vw;
  font-family: 'MedievalSharp', cursive;
  margin-left: 1.3vw;
  }

  #darkDiceRerollByCounterLP, #lightDiceRerollByCounterLP{
    display: none;
    grid-column: 1 / 2;
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
    margin: 0;
  }

  #darkDiceRerollByCounterLP:hover, #lightDiceRerollByCounterLP:hover{
  -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  box-shadow: inset 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  }
  #darkDiceRerollByCounterLP{
grid-row:1/3
  }

  #lightDiceRerollByCounterLP{
    grid-row:3/5
  }

  #lightDiceResultSelect:disabled, #darkDiceResultSelect:disabled{
    display: grid;
    opacity: 0.7;
    color: #000000;
  }



.inNumber {
    display: grid;
    grid-row: 2 / 6;
    grid-column: span 2;
    font-size: 7.6vw;
    align-items: center;
    justify-content: center;
}

.inText {
    display: grid;
    grid-row: 1 / 2;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
}

.hitCheck {
    display: grid;
    grid-row: 6 / 7;
    grid-column: span 4;
    align-items: center;
    justify-content: center;
}


#chosenWeapon {
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#weapons {
    display: grid;
    grid-column: 1 / 8;
    grid-row: 2 / 3;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 10vw;
    margin-bottom: 1vw;
  font-size: 1.2vw;
  font-family: 'MedievalSharp', cursive;
}

#profession {
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#professionLevelSelect {
    display: grid;
    grid-column: 1 / 8;
    grid-row: 4 / 5;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 4vw;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  font-family: 'MedievalSharp', cursive;
}

#destroyer {
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 8;
    grid-row: 5 / 6;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#destroyerLevelSelect {
    display: grid;
    grid-column: 1 / 8;
    grid-row: 6 / 7;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 4vw;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  font-family: 'MedievalSharp', cursive;
}

#charAtkLabel{
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#charAtk{
    display: grid;
    grid-column: 1 / 5;
    grid-row: 8 / 9;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 5vw;
  font-size: 2vw;
  font-family: 'MedievalSharp', cursive;
}
#charDefLabel{
    font-size: 1.2vw;
    display: grid;
    grid-column: 6 / 10;
    grid-row: 7 / 8;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#charDef{
    display: grid;
    grid-column: 6 / 10;
    grid-row: 8 / 9;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 5vw;
  font-size: 2vw;
  font-family: 'MedievalSharp', cursive;
}

#charStrLabel{
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 8;
    grid-row: 9 / 10;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#charStr{
    display: grid;
    grid-column: 1 / 8;
    grid-row: 10 / 11;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 5vw;
  font-size: 2vw;
  font-family: 'MedievalSharp', cursive;
}

#bodyPartImg {
    display: grid;
    grid-column: 8 / 12;
    grid-row: 5 / 9;
    height: 14vw;
    width: 10vw;
    border: 0.2vw solid #680604;
    -webkit-box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
    box-shadow: 0.15vw 0.15vw 0.4vw 0.15vw rgba(0, 0, 0, 0.75);
    border-radius: 1vw;
     margin-left: 4vw;
     margin-top: 1vw; 
    background-image: url('../public/bodyParts/bodyPartsDefault.png');
    background-size: 10vw 14vw;
}

.tempImg {
    display: grid;
    grid-column: 8 / 12;
    grid-row: 5 / 9;
    height: 14vw;
    width: 10vw;
}

#charAtkSumText{
    display: grid;
    grid-column: 2 / 8;
    grid-row: 1 / 2;
}

#charAtkSum {
    display: grid;
    grid-column: 2 / 8;
    grid-row: 2 / 3;
}

#specialEffectText{
    display: grid;
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    text-align: center;
    align-items: center;
}

#specialEffect{
    display: grid;
    grid-column: 1 / 9;
    grid-row: 4 / 6;
    font-size: 1.4vw;
    margin-top: 1vw;
    align-items: center;
  }