body {
    display: grid;
    background-color: #000000;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 52vw;
    width: 64vw;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'MedievalSharp', cursive;
    color: black;
    -webkit-text-stroke: #f35900 0.1px;
    font-size: 1.4vw;
    text-shadow: 4px 4px 5px #682600;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: #000000;
    text-shadow: 4px 4px 5px #682600;
    -webkit-text-stroke: #f35900 0.1px;
}

a:visited {
    text-decoration: none;
    color: #000000;
    text-shadow: 4px 4px 5px #682600;
    -webkit-text-stroke: #f35900 0.1px;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #000000;
    text-shadow: 4px 4px 5px #682600;
    -webkit-text-stroke: #f35900 0.1px;
}

img {
    height: 16vw;
    width: 12vw;
}

input,
select {
    background-image: url('../public/parchmentPaper.jpg');
    background-size: 19.3vw 2.5vw;
    height: 2vw;
}

button {
    display: grid;
    font-family: 'MedievalSharp', cursive;
    font-size: 1vw;
    -webkit-text-stroke: #f35900 0.1px;
}

.inNumber {
    display: grid;
    grid-row: 2 / 6;
    grid-column: span 2;
    font-size: 9vw;
    align-items: center;
    justify-content: center;
}

.inText {
    display: grid;
    grid-row: 1 / 2;
    grid-column: span 2;
    align-items: center;
    justify-content: center;
}

.hitCheck {
    display: grid;
    grid-row: 6 / 7;
    grid-column: span 4;
    align-items: center;
    justify-content: center;
}

#addWeaponForm {
    display: grid;
    grid-column: 6 / 11;
    grid-row: 2 / 8;
    opacity: 1;
    height: 20vw;
    font-size: 2.5vw;
    padding-right: 20px;
}


#w_name
 {
    display: inline-block;
    height: 2.5vw;
    border: 1px solid black;
    padding: 0px;
    margin: 2px;
    font-size: 1.5vw;
    font-family: 'MedievalSharp', cursive;
}

#w_damage,
#w_type {
    display: inline-block;
    height: 2.5vw;
    width: 6vw;
    border: 1px solid black;
    padding: 0px;
    margin: 2px;
    font-size: 1.5vw;
    font-family: 'MedievalSharp', cursive;
}

#addWeaponFormSubmitButton {
    display: grid;
    grid-column: 6 / 11;
    grid-row: 8 / 10;
    margin-right: 16px;
    font-size: 2.4vw;
    background-image: url('../public/sword2.png');
    background-color: #e8d090;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    text-shadow: 4px 4px 5px #000000;
    border: 3px solid #680604;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 30px 0px;
}

#addWeaponFormSubmitButton:hover {
    -webkit-box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
}
#manageWeaponsButton:hover {
    -webkit-box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
}

#chosenWeapon {
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#weapons {
    display: grid;
    grid-column: 1 / 8;
    grid-row: 2 / 3;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 12vw;
    margin-bottom: 1vw;
  font-size: 1.2vw;
  font-family: 'MedievalSharp', cursive;
}

#profession {
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#professionLevelSelect {
    display: grid;
    grid-column: 1 / 8;
    grid-row: 4 / 5;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 5vw;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  font-family: 'MedievalSharp', cursive;
}

#destroyer {
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 8;
    grid-row: 5 / 6;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#destroyerLevelSelect {
    display: grid;
    grid-column: 1 / 8;
    grid-row: 6 / 7;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 5vw;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  font-family: 'MedievalSharp', cursive;
}

#charAtkLabel{
    font-size: 1.2vw;
    display: grid;
    grid-column: 1 / 8;
    grid-row: 7 / 8;
    align-self: flex-end;
    margin-bottom: 0.5vw;
}

#charAtk{
    display: grid;
    grid-column: 1 / 8;
    grid-row: 8 / 9;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 2.2vw;
    width: 5vw;
  font-size: 2vw;
  font-family: 'MedievalSharp', cursive;
}

#bodyPartImg {
    display: grid;
    grid-column: 8 / 12;
    grid-row: 5 / 9;
    height: 16vw;
    width: 12vw;
    border: 3px solid #680604;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    margin: 0px 5px;
    background-image: url('../public/bodyParts/bodyPartsDefault.png');
    background-size: 12vw 16vw;
}

#charAtkSumText{
    display: grid;
    grid-column: 8 / 11;
    grid-row: 12 / 13;
}


#charAtkSum {
    display: grid;
    grid-column: 8 / 11;
    grid-row: 13 / 16;
}

.welcomeUser {
    font-size: 1.2vw;
    display: none;
    grid-column: 13 / 16;
    grid-row: 1 / 2;
}

.statusMessage {
    height: 0.5vw;
    color: red;
    font-size: 0.7vw;
}

.signOut {
    display: none;
}

.register {
    margin-top: 2vw;
    display: grid;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px 5px #000000;
    border: 3px solid #680604;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background-image: url('../public/parchmentPaper.jpg');
    background-size: 19.3vw 2vw;
    text-decoration: none;
    color: black;
    -webkit-text-stroke: #f35900 0.1px;
}

#password {
    margin-bottom: 2vw;
}