.weaponsContainer {
  margin: 0vw 1vw 1vw 1vw;
  padding: 1vw;
  display: grid;
  grid-column: 4 / 8;
  grid-row: 1 / 11;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  align-items: center;
  justify-content: center;
  border: 0.23vw solid #680604;
  -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  border-radius: 1vw;
}

.resultContainer {
  background-color: none;
  display: grid;
  grid-column: 8 / 12;
  grid-row: 5 / 9;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 0vw 0.4vw;
  height: 14vw;
  align-items: center;
  border: 0.23vw solid #680604;
  -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  border-radius: 1vw;
  text-align: center;
}

.bodyPart {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 5 / 7;
  grid-column: span 4;
  font-size: 2vw;
}

.rollButton {
  display: grid;
  grid-column: 8 / 12;
  grid-row: 1 / 4;
  font-size: 4.5vw;
  align-items: center;
  justify-content: center;
  text-shadow: 0.3vw 0.3vw 0.4vw #000000;
  border: 0.23vw solid #680604;
  -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  border-radius: 1vw;
  background-image: url('../public/parchmentPaper.jpg');
  background-size: 15.2vw 8vw;
  margin-left: 0vw;
  margin-bottom: 1vw;
}

.rollButton:hover {
  -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  box-shadow: inset 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
}

.rollButton:disabled {
  color: black;
  opacity: 0.6;
}

.charSumAtkContainer {
  display: grid;
  grid-row: 9 / 13;
  grid-column: 8 / 12;
  align-items: center;
  height: 11vw;
  align-self: center;
  justify-content: center;
  background-size: inherit;
  background-repeat: no-repeat;
  margin:1vw 2vw;
  padding-bottom: 0.5vw;
  border: 0.23vw solid #680604;
  -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
  border-radius: 1vw;
}