.weaponsContainer {
  display: grid;
  grid-column: 8 / 16;
  grid-row: 1 / 8;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 27vw;
  width: 30vw;
  align-items: center;
  justify-content: center;
}