.psiDisciplinesSelectWrapper{
    display: none;
    grid-row: 11/13;
    grid-column: span 4;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-bottom: 1vw;
}
.psiDisciplinesSelectLabel{
    display: grid;
    grid-column: 1/5;
    grid-row: 1/2;
}
.psiDisciplinesSelect{
    display: none;
    grid-column: 1/5;
    grid-row: 2/3;
    font-family: 'MedievalSharp', cursive;
    color: black;
    font-size: 1vw;
    text-shadow: 0.3vw 0.3vw 0.4vw #682600;
}
.listPsiButton{
    display: grid;
    grid-column: 1/5;
    grid-row: 2/3;
}
.psiPointCostInput{
    display: none;
    grid-column: 5/7;
    grid-row: 1/2;
    width: 2vw;
    height: 2vw;
    font-family: 'MedievalSharp', cursive;
    color: black;
    font-size: 1.2vw;
    text-shadow: 0.3vw 0.3vw 0.4vw #682600;
    text-align: center;
}
.psiActivateButton{
    display: none;
    grid-column: 5/7;
    grid-row: 2/3;
}
.psiPoints{
    display: grid;
    grid-column: 6/7;
    grid-row: 1/2;
}
.currentlyActiveBuffsWrapper{
    display: grid;
    padding: 0;
    margin-left: 1vw;
    margin-top: 1vw;
    grid-column: 18/23;
    grid-row: 12/15;
    font-size: 0.80vw;
    border: 0.23vw solid #680604;
    -webkit-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
    box-shadow: 0.15vw 0.15vw 0.3vw 0.15vw rgba(0, 0, 0, 0.75);
    border-radius: 1vw;
}
.deleteBuffButton{
    font-size: 0.8vw;
}
