.psiDisciplinesSelectWrapper {
  display: none;
  grid-row: 11/13;
  grid-column: 4/8;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 1vw;
  margin-left: 0.5vw;
  border: 0.23vw solid white;
  border-radius: 1vw;
  padding: 0.5vw;
}
.psiDisciplinesSelectLabel {
  display: grid;
  grid-column: 1/5;
  grid-row: 1/2;
}
.psiDisciplinesSelect {
  display: none;
  grid-column: 1/5;
  grid-row: 2/3;
  font-family: Arial, Helvetica, sans-serif, cursive;
  color: white;
  font-size: 1vw;
}
.listPsiButton {
  display: grid;
  grid-column: 1/5;
  grid-row: 2/3;
}
.psiPointCostInput {
  display: none;
  grid-column: 5/7;
  grid-row: 1/2;
  width: 3vw;
  height: 2vw;
  font-family: Arial, Helvetica, sans-serif, cursive;
  color: white;
  font-size: 1.2vw;
  text-align: center;
}
.psiActivateButton {
  display: none;
  grid-column: 5/7;
  grid-row: 2/3;
}
.psiActivateButton:disabled {
  background-color: black;
  color: white;
  opacity: 0.6;
}
.psiActivateButton:disabled:hover {
  background-color: black;
  color: white;
  opacity: 0.6;
}
.psiPoints {
  display: grid;
  grid-column: 6/7;
  grid-row: 1/2;
  text-align: end;
  align-items: center;
  font-size: 1vw;
}
.currentlyActiveBuffsWrapper {
  display: grid;
  padding: 0;
  margin-left: 1vw;
  grid-column: 18/23;
  grid-row: 13/15;
  font-size: 0.8vw;
  padding: 0.5vw;
  border: 0.23vw solid white;
  border-radius: 1vw;
  height: 7vw;
}
.listOfCurrentlyActiveBuffsLabel {
  font-size: 1vw;
  grid-column: 18/22;
  grid-row: 12/13;
  background-color: #000000;
  text-align: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1.2vw;
  border: 0.1vw solid rgb(255, 255, 255);
  text-decoration: underline;
}
.deleteBuffButton {
  font-size: 0.8vw;
}
.psiRecoveryWrapper {
  display: grid;
  grid-row: 11/13;
  grid-column: 1/4;
  grid-template-rows: repeat(3, 1fr);
  font-size: 0.8vw;
  margin-top: 1.2vw;
  border: 0.23vw solid white;
  border-radius: 1vw;
  padding: 0.3vw;
}
.psiRecoveryWrapper input {
  width: 2.5vw;
  height: 1vw;
  text-align: center;
}
.psiRecoveryWrapper button {
  font-size: 0.8vw;
  display: inline-block;
}
